* {
  box-sizing: border-box;
}
.padding {
  padding: 8px;
}
.margin {
  margin: 8px;
}
.fill {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.static {
  position: static;
}
.scroll {
  overflow: auto;
}
.scroll-x {
  overflow-x: auto;
}
.scroll-y {
  overflow-y: auto;
}
.hidden {
  overflow: hidden;
}
.start {
  justify-content: flex-start;
}
.start-start {
  justify-content: flex-start;
  align-items: flex-start;
}
.start-end {
  justify-content: flex-start;
  align-items: flex-end;
}
.start-center {
  justify-content: flex-start;
  align-items: center;
}
.start-baseline {
  justify-content: flex-start;
  align-items: baseline;
}
.start-stretch {
  justify-content: flex-start;
  align-items: stretch;
}
.end {
  justify-content: flex-end;
}
.end-start {
  justify-content: flex-end;
  align-items: flex-start;
}
.end-end {
  justify-content: flex-end;
  align-items: flex-end;
}
.end-center {
  justify-content: flex-end;
  align-items: center;
}
.end-baseline {
  justify-content: flex-end;
  align-items: baseline;
}
.end-stretch {
  justify-content: flex-end;
  align-items: stretch;
}
.center {
  justify-content: center;
}
.center-start {
  justify-content: center;
  align-items: flex-start;
}
.center-end {
  justify-content: center;
  align-items: flex-end;
}
.center-center {
  justify-content: center;
  align-items: center;
}
.center-baseline {
  justify-content: center;
  align-items: baseline;
}
.center-stretch {
  justify-content: center;
  align-items: stretch;
}
.space-between {
  justify-content: space-between;
}
.space-between-start {
  justify-content: space-between;
  align-items: flex-start;
}
.space-between-end {
  justify-content: space-between;
  align-items: flex-end;
}
.space-between-center {
  justify-content: space-between;
  align-items: center;
}
.space-between-baseline {
  justify-content: space-between;
  align-items: baseline;
}
.space-between-stretch {
  justify-content: space-between;
  align-items: stretch;
}
.space-around {
  justify-content: space-around;
}
.space-around-start {
  justify-content: space-around;
  align-items: flex-start;
}
.space-around-end {
  justify-content: space-around;
  align-items: flex-end;
}
.space-around-center {
  justify-content: space-around;
  align-items: center;
}
.space-around-baseline {
  justify-content: space-around;
  align-items: baseline;
}
.space-around-stretch {
  justify-content: space-around;
  align-items: stretch;
}
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
.wrap {
  flex-wrap: wrap;
}
.nowrap {
  flex-wrap: nowrap;
}
.hide {
  display: none;
}
.flex {
  flex: 1 1 auto;
}
.flex-5 {
  flex: 1 1 5%;
}
.flex-10 {
  flex: 1 1 10%;
}
.flex-15 {
  flex: 1 1 15%;
}
.flex-20 {
  flex: 1 1 20%;
}
.flex-25 {
  flex: 1 1 25%;
}
.flex-30 {
  flex: 1 1 30%;
}
.flex-35 {
  flex: 1 1 35%;
}
.flex-40 {
  flex: 1 1 40%;
}
.flex-45 {
  flex: 1 1 45%;
}
.flex-50 {
  flex: 1 1 50%;
}
.flex-55 {
  flex: 1 1 55%;
}
.flex-60 {
  flex: 1 1 60%;
}
.flex-65 {
  flex: 1 1 65%;
}
.flex-70 {
  flex: 1 1 70%;
}
.flex-75 {
  flex: 1 1 75%;
}
.flex-80 {
  flex: 1 1 80%;
}
.flex-85 {
  flex: 1 1 85%;
}
.flex-90 {
  flex: 1 1 90%;
}
.flex-95 {
  flex: 1 1 95%;
}
.flex-100 {
  flex: 1 1 100%;
}
.flex-order--20 {
  order: -20;
}
.flex-order--19 {
  order: -19;
}
.flex-order--18 {
  order: -18;
}
.flex-order--17 {
  order: -17;
}
.flex-order--16 {
  order: -16;
}
.flex-order--15 {
  order: -15;
}
.flex-order--14 {
  order: -14;
}
.flex-order--13 {
  order: -13;
}
.flex-order--12 {
  order: -12;
}
.flex-order--11 {
  order: -11;
}
.flex-order--10 {
  order: -10;
}
.flex-order--9 {
  order: -9;
}
.flex-order--8 {
  order: -8;
}
.flex-order--7 {
  order: -7;
}
.flex-order--6 {
  order: -6;
}
.flex-order--5 {
  order: -5;
}
.flex-order--4 {
  order: -4;
}
.flex-order--3 {
  order: -3;
}
.flex-order--2 {
  order: -2;
}
.flex-order--1 {
  order: -1;
}
.flex-order-0 {
  order: 0;
}
.flex-order-1 {
  order: 1;
}
.flex-order-2 {
  order: 2;
}
.flex-order-3 {
  order: 3;
}
.flex-order-4 {
  order: 4;
}
.flex-order-5 {
  order: 5;
}
.flex-order-6 {
  order: 6;
}
.flex-order-7 {
  order: 7;
}
.flex-order-8 {
  order: 8;
}
.flex-order-9 {
  order: 9;
}
.flex-order-10 {
  order: 10;
}
.flex-order-11 {
  order: 11;
}
.flex-order-12 {
  order: 12;
}
.flex-order-13 {
  order: 13;
}
.flex-order-14 {
  order: 14;
}
.flex-order-15 {
  order: 15;
}
.flex-order-16 {
  order: 16;
}
.flex-order-17 {
  order: 17;
}
.flex-order-18 {
  order: 18;
}
.flex-order-19 {
  order: 19;
}
.flex-order-20 {
  order: 20;
}
@media (max-width: 599px) {
  .start-xs {
    justify-content: flex-start;
  }
  .start-start-xs {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .start-end-xs {
    justify-content: flex-start;
    align-items: flex-end;
  }
  .start-center-xs {
    justify-content: flex-start;
    align-items: center;
  }
  .start-baseline-xs {
    justify-content: flex-start;
    align-items: baseline;
  }
  .start-stretch-xs {
    justify-content: flex-start;
    align-items: stretch;
  }
  .end-xs {
    justify-content: flex-end;
  }
  .end-start-xs {
    justify-content: flex-end;
    align-items: flex-start;
  }
  .end-end-xs {
    justify-content: flex-end;
    align-items: flex-end;
  }
  .end-center-xs {
    justify-content: flex-end;
    align-items: center;
  }
  .end-baseline-xs {
    justify-content: flex-end;
    align-items: baseline;
  }
  .end-stretch-xs {
    justify-content: flex-end;
    align-items: stretch;
  }
  .center-xs {
    justify-content: center;
  }
  .center-start-xs {
    justify-content: center;
    align-items: flex-start;
  }
  .center-end-xs {
    justify-content: center;
    align-items: flex-end;
  }
  .center-center-xs {
    justify-content: center;
    align-items: center;
  }
  .center-baseline-xs {
    justify-content: center;
    align-items: baseline;
  }
  .center-stretch-xs {
    justify-content: center;
    align-items: stretch;
  }
  .space-between-xs {
    justify-content: space-between;
  }
  .space-between-start-xs {
    justify-content: space-between;
    align-items: flex-start;
  }
  .space-between-end-xs {
    justify-content: space-between;
    align-items: flex-end;
  }
  .space-between-center-xs {
    justify-content: space-between;
    align-items: center;
  }
  .space-between-baseline-xs {
    justify-content: space-between;
    align-items: baseline;
  }
  .space-between-stretch-xs {
    justify-content: space-between;
    align-items: stretch;
  }
  .space-around-xs {
    justify-content: space-around;
  }
  .space-around-start-xs {
    justify-content: space-around;
    align-items: flex-start;
  }
  .space-around-end-xs {
    justify-content: space-around;
    align-items: flex-end;
  }
  .space-around-center-xs {
    justify-content: space-around;
    align-items: center;
  }
  .space-around-baseline-xs {
    justify-content: space-around;
    align-items: baseline;
  }
  .space-around-stretch-xs {
    justify-content: space-around;
    align-items: stretch;
  }
  .row-xs {
    display: flex;
    flex-direction: row;
  }
  .column-xs {
    display: flex;
    flex-direction: column;
  }
  .wrap-xs {
    flex-wrap: wrap;
  }
  .nowrap-xs {
    flex-wrap: nowrap;
  }
  .hide-xs {
    display: none;
  }
  .xs {
    flex: 1 1 auto;
  }
  .xs-5 {
    flex: 1 1 5%;
  }
  .xs-10 {
    flex: 1 1 10%;
  }
  .xs-15 {
    flex: 1 1 15%;
  }
  .xs-20 {
    flex: 1 1 20%;
  }
  .xs-25 {
    flex: 1 1 25%;
  }
  .xs-30 {
    flex: 1 1 30%;
  }
  .xs-35 {
    flex: 1 1 35%;
  }
  .xs-40 {
    flex: 1 1 40%;
  }
  .xs-45 {
    flex: 1 1 45%;
  }
  .xs-50 {
    flex: 1 1 50%;
  }
  .xs-55 {
    flex: 1 1 55%;
  }
  .xs-60 {
    flex: 1 1 60%;
  }
  .xs-65 {
    flex: 1 1 65%;
  }
  .xs-70 {
    flex: 1 1 70%;
  }
  .xs-75 {
    flex: 1 1 75%;
  }
  .xs-80 {
    flex: 1 1 80%;
  }
  .xs-85 {
    flex: 1 1 85%;
  }
  .xs-90 {
    flex: 1 1 90%;
  }
  .xs-95 {
    flex: 1 1 95%;
  }
  .xs-100 {
    flex: 1 1 100%;
  }
  .xs-order--20 {
    order: -20;
  }
  .xs-order--19 {
    order: -19;
  }
  .xs-order--18 {
    order: -18;
  }
  .xs-order--17 {
    order: -17;
  }
  .xs-order--16 {
    order: -16;
  }
  .xs-order--15 {
    order: -15;
  }
  .xs-order--14 {
    order: -14;
  }
  .xs-order--13 {
    order: -13;
  }
  .xs-order--12 {
    order: -12;
  }
  .xs-order--11 {
    order: -11;
  }
  .xs-order--10 {
    order: -10;
  }
  .xs-order--9 {
    order: -9;
  }
  .xs-order--8 {
    order: -8;
  }
  .xs-order--7 {
    order: -7;
  }
  .xs-order--6 {
    order: -6;
  }
  .xs-order--5 {
    order: -5;
  }
  .xs-order--4 {
    order: -4;
  }
  .xs-order--3 {
    order: -3;
  }
  .xs-order--2 {
    order: -2;
  }
  .xs-order--1 {
    order: -1;
  }
  .xs-order-0 {
    order: 0;
  }
  .xs-order-1 {
    order: 1;
  }
  .xs-order-2 {
    order: 2;
  }
  .xs-order-3 {
    order: 3;
  }
  .xs-order-4 {
    order: 4;
  }
  .xs-order-5 {
    order: 5;
  }
  .xs-order-6 {
    order: 6;
  }
  .xs-order-7 {
    order: 7;
  }
  .xs-order-8 {
    order: 8;
  }
  .xs-order-9 {
    order: 9;
  }
  .xs-order-10 {
    order: 10;
  }
  .xs-order-11 {
    order: 11;
  }
  .xs-order-12 {
    order: 12;
  }
  .xs-order-13 {
    order: 13;
  }
  .xs-order-14 {
    order: 14;
  }
  .xs-order-15 {
    order: 15;
  }
  .xs-order-16 {
    order: 16;
  }
  .xs-order-17 {
    order: 17;
  }
  .xs-order-18 {
    order: 18;
  }
  .xs-order-19 {
    order: 19;
  }
  .xs-order-20 {
    order: 20;
  }
}
@media (min-width: 600px) {
  .start-gt-xs {
    justify-content: flex-start;
  }
  .start-start-gt-xs {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .start-end-gt-xs {
    justify-content: flex-start;
    align-items: flex-end;
  }
  .start-center-gt-xs {
    justify-content: flex-start;
    align-items: center;
  }
  .start-baseline-gt-xs {
    justify-content: flex-start;
    align-items: baseline;
  }
  .start-stretch-gt-xs {
    justify-content: flex-start;
    align-items: stretch;
  }
  .end-gt-xs {
    justify-content: flex-end;
  }
  .end-start-gt-xs {
    justify-content: flex-end;
    align-items: flex-start;
  }
  .end-end-gt-xs {
    justify-content: flex-end;
    align-items: flex-end;
  }
  .end-center-gt-xs {
    justify-content: flex-end;
    align-items: center;
  }
  .end-baseline-gt-xs {
    justify-content: flex-end;
    align-items: baseline;
  }
  .end-stretch-gt-xs {
    justify-content: flex-end;
    align-items: stretch;
  }
  .center-gt-xs {
    justify-content: center;
  }
  .center-start-gt-xs {
    justify-content: center;
    align-items: flex-start;
  }
  .center-end-gt-xs {
    justify-content: center;
    align-items: flex-end;
  }
  .center-center-gt-xs {
    justify-content: center;
    align-items: center;
  }
  .center-baseline-gt-xs {
    justify-content: center;
    align-items: baseline;
  }
  .center-stretch-gt-xs {
    justify-content: center;
    align-items: stretch;
  }
  .space-between-gt-xs {
    justify-content: space-between;
  }
  .space-between-start-gt-xs {
    justify-content: space-between;
    align-items: flex-start;
  }
  .space-between-end-gt-xs {
    justify-content: space-between;
    align-items: flex-end;
  }
  .space-between-center-gt-xs {
    justify-content: space-between;
    align-items: center;
  }
  .space-between-baseline-gt-xs {
    justify-content: space-between;
    align-items: baseline;
  }
  .space-between-stretch-gt-xs {
    justify-content: space-between;
    align-items: stretch;
  }
  .space-around-gt-xs {
    justify-content: space-around;
  }
  .space-around-start-gt-xs {
    justify-content: space-around;
    align-items: flex-start;
  }
  .space-around-end-gt-xs {
    justify-content: space-around;
    align-items: flex-end;
  }
  .space-around-center-gt-xs {
    justify-content: space-around;
    align-items: center;
  }
  .space-around-baseline-gt-xs {
    justify-content: space-around;
    align-items: baseline;
  }
  .space-around-stretch-gt-xs {
    justify-content: space-around;
    align-items: stretch;
  }
  .row-gt-xs {
    display: flex;
    flex-direction: row;
  }
  .column-gt-xs {
    display: flex;
    flex-direction: column;
  }
  .wrap-gt-xs {
    flex-wrap: wrap;
  }
  .nowrap-gt-xs {
    flex-wrap: nowrap;
  }
  .hide-gt-xs {
    display: none;
  }
  .gt-xs {
    flex: 1 1 auto;
  }
  .gt-xs-5 {
    flex: 1 1 5%;
  }
  .gt-xs-10 {
    flex: 1 1 10%;
  }
  .gt-xs-15 {
    flex: 1 1 15%;
  }
  .gt-xs-20 {
    flex: 1 1 20%;
  }
  .gt-xs-25 {
    flex: 1 1 25%;
  }
  .gt-xs-30 {
    flex: 1 1 30%;
  }
  .gt-xs-35 {
    flex: 1 1 35%;
  }
  .gt-xs-40 {
    flex: 1 1 40%;
  }
  .gt-xs-45 {
    flex: 1 1 45%;
  }
  .gt-xs-50 {
    flex: 1 1 50%;
  }
  .gt-xs-55 {
    flex: 1 1 55%;
  }
  .gt-xs-60 {
    flex: 1 1 60%;
  }
  .gt-xs-65 {
    flex: 1 1 65%;
  }
  .gt-xs-70 {
    flex: 1 1 70%;
  }
  .gt-xs-75 {
    flex: 1 1 75%;
  }
  .gt-xs-80 {
    flex: 1 1 80%;
  }
  .gt-xs-85 {
    flex: 1 1 85%;
  }
  .gt-xs-90 {
    flex: 1 1 90%;
  }
  .gt-xs-95 {
    flex: 1 1 95%;
  }
  .gt-xs-100 {
    flex: 1 1 100%;
  }
  .gt-xs-order--20 {
    order: -20;
  }
  .gt-xs-order--19 {
    order: -19;
  }
  .gt-xs-order--18 {
    order: -18;
  }
  .gt-xs-order--17 {
    order: -17;
  }
  .gt-xs-order--16 {
    order: -16;
  }
  .gt-xs-order--15 {
    order: -15;
  }
  .gt-xs-order--14 {
    order: -14;
  }
  .gt-xs-order--13 {
    order: -13;
  }
  .gt-xs-order--12 {
    order: -12;
  }
  .gt-xs-order--11 {
    order: -11;
  }
  .gt-xs-order--10 {
    order: -10;
  }
  .gt-xs-order--9 {
    order: -9;
  }
  .gt-xs-order--8 {
    order: -8;
  }
  .gt-xs-order--7 {
    order: -7;
  }
  .gt-xs-order--6 {
    order: -6;
  }
  .gt-xs-order--5 {
    order: -5;
  }
  .gt-xs-order--4 {
    order: -4;
  }
  .gt-xs-order--3 {
    order: -3;
  }
  .gt-xs-order--2 {
    order: -2;
  }
  .gt-xs-order--1 {
    order: -1;
  }
  .gt-xs-order-0 {
    order: 0;
  }
  .gt-xs-order-1 {
    order: 1;
  }
  .gt-xs-order-2 {
    order: 2;
  }
  .gt-xs-order-3 {
    order: 3;
  }
  .gt-xs-order-4 {
    order: 4;
  }
  .gt-xs-order-5 {
    order: 5;
  }
  .gt-xs-order-6 {
    order: 6;
  }
  .gt-xs-order-7 {
    order: 7;
  }
  .gt-xs-order-8 {
    order: 8;
  }
  .gt-xs-order-9 {
    order: 9;
  }
  .gt-xs-order-10 {
    order: 10;
  }
  .gt-xs-order-11 {
    order: 11;
  }
  .gt-xs-order-12 {
    order: 12;
  }
  .gt-xs-order-13 {
    order: 13;
  }
  .gt-xs-order-14 {
    order: 14;
  }
  .gt-xs-order-15 {
    order: 15;
  }
  .gt-xs-order-16 {
    order: 16;
  }
  .gt-xs-order-17 {
    order: 17;
  }
  .gt-xs-order-18 {
    order: 18;
  }
  .gt-xs-order-19 {
    order: 19;
  }
  .gt-xs-order-20 {
    order: 20;
  }
}
@media (min-width: 600px) and (max-width: 959px) {
  .start-sm {
    justify-content: flex-start;
  }
  .start-start-sm {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .start-end-sm {
    justify-content: flex-start;
    align-items: flex-end;
  }
  .start-center-sm {
    justify-content: flex-start;
    align-items: center;
  }
  .start-baseline-sm {
    justify-content: flex-start;
    align-items: baseline;
  }
  .start-stretch-sm {
    justify-content: flex-start;
    align-items: stretch;
  }
  .end-sm {
    justify-content: flex-end;
  }
  .end-start-sm {
    justify-content: flex-end;
    align-items: flex-start;
  }
  .end-end-sm {
    justify-content: flex-end;
    align-items: flex-end;
  }
  .end-center-sm {
    justify-content: flex-end;
    align-items: center;
  }
  .end-baseline-sm {
    justify-content: flex-end;
    align-items: baseline;
  }
  .end-stretch-sm {
    justify-content: flex-end;
    align-items: stretch;
  }
  .center-sm {
    justify-content: center;
  }
  .center-start-sm {
    justify-content: center;
    align-items: flex-start;
  }
  .center-end-sm {
    justify-content: center;
    align-items: flex-end;
  }
  .center-center-sm {
    justify-content: center;
    align-items: center;
  }
  .center-baseline-sm {
    justify-content: center;
    align-items: baseline;
  }
  .center-stretch-sm {
    justify-content: center;
    align-items: stretch;
  }
  .space-between-sm {
    justify-content: space-between;
  }
  .space-between-start-sm {
    justify-content: space-between;
    align-items: flex-start;
  }
  .space-between-end-sm {
    justify-content: space-between;
    align-items: flex-end;
  }
  .space-between-center-sm {
    justify-content: space-between;
    align-items: center;
  }
  .space-between-baseline-sm {
    justify-content: space-between;
    align-items: baseline;
  }
  .space-between-stretch-sm {
    justify-content: space-between;
    align-items: stretch;
  }
  .space-around-sm {
    justify-content: space-around;
  }
  .space-around-start-sm {
    justify-content: space-around;
    align-items: flex-start;
  }
  .space-around-end-sm {
    justify-content: space-around;
    align-items: flex-end;
  }
  .space-around-center-sm {
    justify-content: space-around;
    align-items: center;
  }
  .space-around-baseline-sm {
    justify-content: space-around;
    align-items: baseline;
  }
  .space-around-stretch-sm {
    justify-content: space-around;
    align-items: stretch;
  }
  .row-sm {
    display: flex;
    flex-direction: row;
  }
  .column-sm {
    display: flex;
    flex-direction: column;
  }
  .wrap-sm {
    flex-wrap: wrap;
  }
  .nowrap-sm {
    flex-wrap: nowrap;
  }
  .hide-sm {
    display: none;
  }
  .sm {
    flex: 1 1 auto;
  }
  .sm-5 {
    flex: 1 1 5%;
  }
  .sm-10 {
    flex: 1 1 10%;
  }
  .sm-15 {
    flex: 1 1 15%;
  }
  .sm-20 {
    flex: 1 1 20%;
  }
  .sm-25 {
    flex: 1 1 25%;
  }
  .sm-30 {
    flex: 1 1 30%;
  }
  .sm-35 {
    flex: 1 1 35%;
  }
  .sm-40 {
    flex: 1 1 40%;
  }
  .sm-45 {
    flex: 1 1 45%;
  }
  .sm-50 {
    flex: 1 1 50%;
  }
  .sm-55 {
    flex: 1 1 55%;
  }
  .sm-60 {
    flex: 1 1 60%;
  }
  .sm-65 {
    flex: 1 1 65%;
  }
  .sm-70 {
    flex: 1 1 70%;
  }
  .sm-75 {
    flex: 1 1 75%;
  }
  .sm-80 {
    flex: 1 1 80%;
  }
  .sm-85 {
    flex: 1 1 85%;
  }
  .sm-90 {
    flex: 1 1 90%;
  }
  .sm-95 {
    flex: 1 1 95%;
  }
  .sm-100 {
    flex: 1 1 100%;
  }
  .sm-order--20 {
    order: -20;
  }
  .sm-order--19 {
    order: -19;
  }
  .sm-order--18 {
    order: -18;
  }
  .sm-order--17 {
    order: -17;
  }
  .sm-order--16 {
    order: -16;
  }
  .sm-order--15 {
    order: -15;
  }
  .sm-order--14 {
    order: -14;
  }
  .sm-order--13 {
    order: -13;
  }
  .sm-order--12 {
    order: -12;
  }
  .sm-order--11 {
    order: -11;
  }
  .sm-order--10 {
    order: -10;
  }
  .sm-order--9 {
    order: -9;
  }
  .sm-order--8 {
    order: -8;
  }
  .sm-order--7 {
    order: -7;
  }
  .sm-order--6 {
    order: -6;
  }
  .sm-order--5 {
    order: -5;
  }
  .sm-order--4 {
    order: -4;
  }
  .sm-order--3 {
    order: -3;
  }
  .sm-order--2 {
    order: -2;
  }
  .sm-order--1 {
    order: -1;
  }
  .sm-order-0 {
    order: 0;
  }
  .sm-order-1 {
    order: 1;
  }
  .sm-order-2 {
    order: 2;
  }
  .sm-order-3 {
    order: 3;
  }
  .sm-order-4 {
    order: 4;
  }
  .sm-order-5 {
    order: 5;
  }
  .sm-order-6 {
    order: 6;
  }
  .sm-order-7 {
    order: 7;
  }
  .sm-order-8 {
    order: 8;
  }
  .sm-order-9 {
    order: 9;
  }
  .sm-order-10 {
    order: 10;
  }
  .sm-order-11 {
    order: 11;
  }
  .sm-order-12 {
    order: 12;
  }
  .sm-order-13 {
    order: 13;
  }
  .sm-order-14 {
    order: 14;
  }
  .sm-order-15 {
    order: 15;
  }
  .sm-order-16 {
    order: 16;
  }
  .sm-order-17 {
    order: 17;
  }
  .sm-order-18 {
    order: 18;
  }
  .sm-order-19 {
    order: 19;
  }
  .sm-order-20 {
    order: 20;
  }
}
@media (min-width: 960px) {
  .start-gt-sm {
    justify-content: flex-start;
  }
  .start-start-gt-sm {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .start-end-gt-sm {
    justify-content: flex-start;
    align-items: flex-end;
  }
  .start-center-gt-sm {
    justify-content: flex-start;
    align-items: center;
  }
  .start-baseline-gt-sm {
    justify-content: flex-start;
    align-items: baseline;
  }
  .start-stretch-gt-sm {
    justify-content: flex-start;
    align-items: stretch;
  }
  .end-gt-sm {
    justify-content: flex-end;
  }
  .end-start-gt-sm {
    justify-content: flex-end;
    align-items: flex-start;
  }
  .end-end-gt-sm {
    justify-content: flex-end;
    align-items: flex-end;
  }
  .end-center-gt-sm {
    justify-content: flex-end;
    align-items: center;
  }
  .end-baseline-gt-sm {
    justify-content: flex-end;
    align-items: baseline;
  }
  .end-stretch-gt-sm {
    justify-content: flex-end;
    align-items: stretch;
  }
  .center-gt-sm {
    justify-content: center;
  }
  .center-start-gt-sm {
    justify-content: center;
    align-items: flex-start;
  }
  .center-end-gt-sm {
    justify-content: center;
    align-items: flex-end;
  }
  .center-center-gt-sm {
    justify-content: center;
    align-items: center;
  }
  .center-baseline-gt-sm {
    justify-content: center;
    align-items: baseline;
  }
  .center-stretch-gt-sm {
    justify-content: center;
    align-items: stretch;
  }
  .space-between-gt-sm {
    justify-content: space-between;
  }
  .space-between-start-gt-sm {
    justify-content: space-between;
    align-items: flex-start;
  }
  .space-between-end-gt-sm {
    justify-content: space-between;
    align-items: flex-end;
  }
  .space-between-center-gt-sm {
    justify-content: space-between;
    align-items: center;
  }
  .space-between-baseline-gt-sm {
    justify-content: space-between;
    align-items: baseline;
  }
  .space-between-stretch-gt-sm {
    justify-content: space-between;
    align-items: stretch;
  }
  .space-around-gt-sm {
    justify-content: space-around;
  }
  .space-around-start-gt-sm {
    justify-content: space-around;
    align-items: flex-start;
  }
  .space-around-end-gt-sm {
    justify-content: space-around;
    align-items: flex-end;
  }
  .space-around-center-gt-sm {
    justify-content: space-around;
    align-items: center;
  }
  .space-around-baseline-gt-sm {
    justify-content: space-around;
    align-items: baseline;
  }
  .space-around-stretch-gt-sm {
    justify-content: space-around;
    align-items: stretch;
  }
  .row-gt-sm {
    display: flex;
    flex-direction: row;
  }
  .column-gt-sm {
    display: flex;
    flex-direction: column;
  }
  .wrap-gt-sm {
    flex-wrap: wrap;
  }
  .nowrap-gt-sm {
    flex-wrap: nowrap;
  }
  .hide-gt-sm {
    display: none;
  }
  .gt-sm {
    flex: 1 1 auto;
  }
  .gt-sm-5 {
    flex: 1 1 5%;
  }
  .gt-sm-10 {
    flex: 1 1 10%;
  }
  .gt-sm-15 {
    flex: 1 1 15%;
  }
  .gt-sm-20 {
    flex: 1 1 20%;
  }
  .gt-sm-25 {
    flex: 1 1 25%;
  }
  .gt-sm-30 {
    flex: 1 1 30%;
  }
  .gt-sm-35 {
    flex: 1 1 35%;
  }
  .gt-sm-40 {
    flex: 1 1 40%;
  }
  .gt-sm-45 {
    flex: 1 1 45%;
  }
  .gt-sm-50 {
    flex: 1 1 50%;
  }
  .gt-sm-55 {
    flex: 1 1 55%;
  }
  .gt-sm-60 {
    flex: 1 1 60%;
  }
  .gt-sm-65 {
    flex: 1 1 65%;
  }
  .gt-sm-70 {
    flex: 1 1 70%;
  }
  .gt-sm-75 {
    flex: 1 1 75%;
  }
  .gt-sm-80 {
    flex: 1 1 80%;
  }
  .gt-sm-85 {
    flex: 1 1 85%;
  }
  .gt-sm-90 {
    flex: 1 1 90%;
  }
  .gt-sm-95 {
    flex: 1 1 95%;
  }
  .gt-sm-100 {
    flex: 1 1 100%;
  }
  .gt-sm-order--20 {
    order: -20;
  }
  .gt-sm-order--19 {
    order: -19;
  }
  .gt-sm-order--18 {
    order: -18;
  }
  .gt-sm-order--17 {
    order: -17;
  }
  .gt-sm-order--16 {
    order: -16;
  }
  .gt-sm-order--15 {
    order: -15;
  }
  .gt-sm-order--14 {
    order: -14;
  }
  .gt-sm-order--13 {
    order: -13;
  }
  .gt-sm-order--12 {
    order: -12;
  }
  .gt-sm-order--11 {
    order: -11;
  }
  .gt-sm-order--10 {
    order: -10;
  }
  .gt-sm-order--9 {
    order: -9;
  }
  .gt-sm-order--8 {
    order: -8;
  }
  .gt-sm-order--7 {
    order: -7;
  }
  .gt-sm-order--6 {
    order: -6;
  }
  .gt-sm-order--5 {
    order: -5;
  }
  .gt-sm-order--4 {
    order: -4;
  }
  .gt-sm-order--3 {
    order: -3;
  }
  .gt-sm-order--2 {
    order: -2;
  }
  .gt-sm-order--1 {
    order: -1;
  }
  .gt-sm-order-0 {
    order: 0;
  }
  .gt-sm-order-1 {
    order: 1;
  }
  .gt-sm-order-2 {
    order: 2;
  }
  .gt-sm-order-3 {
    order: 3;
  }
  .gt-sm-order-4 {
    order: 4;
  }
  .gt-sm-order-5 {
    order: 5;
  }
  .gt-sm-order-6 {
    order: 6;
  }
  .gt-sm-order-7 {
    order: 7;
  }
  .gt-sm-order-8 {
    order: 8;
  }
  .gt-sm-order-9 {
    order: 9;
  }
  .gt-sm-order-10 {
    order: 10;
  }
  .gt-sm-order-11 {
    order: 11;
  }
  .gt-sm-order-12 {
    order: 12;
  }
  .gt-sm-order-13 {
    order: 13;
  }
  .gt-sm-order-14 {
    order: 14;
  }
  .gt-sm-order-15 {
    order: 15;
  }
  .gt-sm-order-16 {
    order: 16;
  }
  .gt-sm-order-17 {
    order: 17;
  }
  .gt-sm-order-18 {
    order: 18;
  }
  .gt-sm-order-19 {
    order: 19;
  }
  .gt-sm-order-20 {
    order: 20;
  }
}
@media (min-width: 960px) and (max-width: 1279px) {
  .start-md {
    justify-content: flex-start;
  }
  .start-start-md {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .start-end-md {
    justify-content: flex-start;
    align-items: flex-end;
  }
  .start-center-md {
    justify-content: flex-start;
    align-items: center;
  }
  .start-baseline-md {
    justify-content: flex-start;
    align-items: baseline;
  }
  .start-stretch-md {
    justify-content: flex-start;
    align-items: stretch;
  }
  .end-md {
    justify-content: flex-end;
  }
  .end-start-md {
    justify-content: flex-end;
    align-items: flex-start;
  }
  .end-end-md {
    justify-content: flex-end;
    align-items: flex-end;
  }
  .end-center-md {
    justify-content: flex-end;
    align-items: center;
  }
  .end-baseline-md {
    justify-content: flex-end;
    align-items: baseline;
  }
  .end-stretch-md {
    justify-content: flex-end;
    align-items: stretch;
  }
  .center-md {
    justify-content: center;
  }
  .center-start-md {
    justify-content: center;
    align-items: flex-start;
  }
  .center-end-md {
    justify-content: center;
    align-items: flex-end;
  }
  .center-center-md {
    justify-content: center;
    align-items: center;
  }
  .center-baseline-md {
    justify-content: center;
    align-items: baseline;
  }
  .center-stretch-md {
    justify-content: center;
    align-items: stretch;
  }
  .space-between-md {
    justify-content: space-between;
  }
  .space-between-start-md {
    justify-content: space-between;
    align-items: flex-start;
  }
  .space-between-end-md {
    justify-content: space-between;
    align-items: flex-end;
  }
  .space-between-center-md {
    justify-content: space-between;
    align-items: center;
  }
  .space-between-baseline-md {
    justify-content: space-between;
    align-items: baseline;
  }
  .space-between-stretch-md {
    justify-content: space-between;
    align-items: stretch;
  }
  .space-around-md {
    justify-content: space-around;
  }
  .space-around-start-md {
    justify-content: space-around;
    align-items: flex-start;
  }
  .space-around-end-md {
    justify-content: space-around;
    align-items: flex-end;
  }
  .space-around-center-md {
    justify-content: space-around;
    align-items: center;
  }
  .space-around-baseline-md {
    justify-content: space-around;
    align-items: baseline;
  }
  .space-around-stretch-md {
    justify-content: space-around;
    align-items: stretch;
  }
  .row-md {
    display: flex;
    flex-direction: row;
  }
  .column-md {
    display: flex;
    flex-direction: column;
  }
  .wrap-md {
    flex-wrap: wrap;
  }
  .nowrap-md {
    flex-wrap: nowrap;
  }
  .hide-md {
    display: none;
  }
  .md {
    flex: 1 1 auto;
  }
  .md-5 {
    flex: 1 1 5%;
  }
  .md-10 {
    flex: 1 1 10%;
  }
  .md-15 {
    flex: 1 1 15%;
  }
  .md-20 {
    flex: 1 1 20%;
  }
  .md-25 {
    flex: 1 1 25%;
  }
  .md-30 {
    flex: 1 1 30%;
  }
  .md-35 {
    flex: 1 1 35%;
  }
  .md-40 {
    flex: 1 1 40%;
  }
  .md-45 {
    flex: 1 1 45%;
  }
  .md-50 {
    flex: 1 1 50%;
  }
  .md-55 {
    flex: 1 1 55%;
  }
  .md-60 {
    flex: 1 1 60%;
  }
  .md-65 {
    flex: 1 1 65%;
  }
  .md-70 {
    flex: 1 1 70%;
  }
  .md-75 {
    flex: 1 1 75%;
  }
  .md-80 {
    flex: 1 1 80%;
  }
  .md-85 {
    flex: 1 1 85%;
  }
  .md-90 {
    flex: 1 1 90%;
  }
  .md-95 {
    flex: 1 1 95%;
  }
  .md-100 {
    flex: 1 1 100%;
  }
  .md-order--20 {
    order: -20;
  }
  .md-order--19 {
    order: -19;
  }
  .md-order--18 {
    order: -18;
  }
  .md-order--17 {
    order: -17;
  }
  .md-order--16 {
    order: -16;
  }
  .md-order--15 {
    order: -15;
  }
  .md-order--14 {
    order: -14;
  }
  .md-order--13 {
    order: -13;
  }
  .md-order--12 {
    order: -12;
  }
  .md-order--11 {
    order: -11;
  }
  .md-order--10 {
    order: -10;
  }
  .md-order--9 {
    order: -9;
  }
  .md-order--8 {
    order: -8;
  }
  .md-order--7 {
    order: -7;
  }
  .md-order--6 {
    order: -6;
  }
  .md-order--5 {
    order: -5;
  }
  .md-order--4 {
    order: -4;
  }
  .md-order--3 {
    order: -3;
  }
  .md-order--2 {
    order: -2;
  }
  .md-order--1 {
    order: -1;
  }
  .md-order-0 {
    order: 0;
  }
  .md-order-1 {
    order: 1;
  }
  .md-order-2 {
    order: 2;
  }
  .md-order-3 {
    order: 3;
  }
  .md-order-4 {
    order: 4;
  }
  .md-order-5 {
    order: 5;
  }
  .md-order-6 {
    order: 6;
  }
  .md-order-7 {
    order: 7;
  }
  .md-order-8 {
    order: 8;
  }
  .md-order-9 {
    order: 9;
  }
  .md-order-10 {
    order: 10;
  }
  .md-order-11 {
    order: 11;
  }
  .md-order-12 {
    order: 12;
  }
  .md-order-13 {
    order: 13;
  }
  .md-order-14 {
    order: 14;
  }
  .md-order-15 {
    order: 15;
  }
  .md-order-16 {
    order: 16;
  }
  .md-order-17 {
    order: 17;
  }
  .md-order-18 {
    order: 18;
  }
  .md-order-19 {
    order: 19;
  }
  .md-order-20 {
    order: 20;
  }
}
@media (min-width: 1280px) {
  .start-gt-md {
    justify-content: flex-start;
  }
  .start-start-gt-md {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .start-end-gt-md {
    justify-content: flex-start;
    align-items: flex-end;
  }
  .start-center-gt-md {
    justify-content: flex-start;
    align-items: center;
  }
  .start-baseline-gt-md {
    justify-content: flex-start;
    align-items: baseline;
  }
  .start-stretch-gt-md {
    justify-content: flex-start;
    align-items: stretch;
  }
  .end-gt-md {
    justify-content: flex-end;
  }
  .end-start-gt-md {
    justify-content: flex-end;
    align-items: flex-start;
  }
  .end-end-gt-md {
    justify-content: flex-end;
    align-items: flex-end;
  }
  .end-center-gt-md {
    justify-content: flex-end;
    align-items: center;
  }
  .end-baseline-gt-md {
    justify-content: flex-end;
    align-items: baseline;
  }
  .end-stretch-gt-md {
    justify-content: flex-end;
    align-items: stretch;
  }
  .center-gt-md {
    justify-content: center;
  }
  .center-start-gt-md {
    justify-content: center;
    align-items: flex-start;
  }
  .center-end-gt-md {
    justify-content: center;
    align-items: flex-end;
  }
  .center-center-gt-md {
    justify-content: center;
    align-items: center;
  }
  .center-baseline-gt-md {
    justify-content: center;
    align-items: baseline;
  }
  .center-stretch-gt-md {
    justify-content: center;
    align-items: stretch;
  }
  .space-between-gt-md {
    justify-content: space-between;
  }
  .space-between-start-gt-md {
    justify-content: space-between;
    align-items: flex-start;
  }
  .space-between-end-gt-md {
    justify-content: space-between;
    align-items: flex-end;
  }
  .space-between-center-gt-md {
    justify-content: space-between;
    align-items: center;
  }
  .space-between-baseline-gt-md {
    justify-content: space-between;
    align-items: baseline;
  }
  .space-between-stretch-gt-md {
    justify-content: space-between;
    align-items: stretch;
  }
  .space-around-gt-md {
    justify-content: space-around;
  }
  .space-around-start-gt-md {
    justify-content: space-around;
    align-items: flex-start;
  }
  .space-around-end-gt-md {
    justify-content: space-around;
    align-items: flex-end;
  }
  .space-around-center-gt-md {
    justify-content: space-around;
    align-items: center;
  }
  .space-around-baseline-gt-md {
    justify-content: space-around;
    align-items: baseline;
  }
  .space-around-stretch-gt-md {
    justify-content: space-around;
    align-items: stretch;
  }
  .row-gt-md {
    display: flex;
    flex-direction: row;
  }
  .column-gt-md {
    display: flex;
    flex-direction: column;
  }
  .wrap-gt-md {
    flex-wrap: wrap;
  }
  .nowrap-gt-md {
    flex-wrap: nowrap;
  }
  .hide-gt-md {
    display: none;
  }
  .gt-md {
    flex: 1 1 auto;
  }
  .gt-md-5 {
    flex: 1 1 5%;
  }
  .gt-md-10 {
    flex: 1 1 10%;
  }
  .gt-md-15 {
    flex: 1 1 15%;
  }
  .gt-md-20 {
    flex: 1 1 20%;
  }
  .gt-md-25 {
    flex: 1 1 25%;
  }
  .gt-md-30 {
    flex: 1 1 30%;
  }
  .gt-md-35 {
    flex: 1 1 35%;
  }
  .gt-md-40 {
    flex: 1 1 40%;
  }
  .gt-md-45 {
    flex: 1 1 45%;
  }
  .gt-md-50 {
    flex: 1 1 50%;
  }
  .gt-md-55 {
    flex: 1 1 55%;
  }
  .gt-md-60 {
    flex: 1 1 60%;
  }
  .gt-md-65 {
    flex: 1 1 65%;
  }
  .gt-md-70 {
    flex: 1 1 70%;
  }
  .gt-md-75 {
    flex: 1 1 75%;
  }
  .gt-md-80 {
    flex: 1 1 80%;
  }
  .gt-md-85 {
    flex: 1 1 85%;
  }
  .gt-md-90 {
    flex: 1 1 90%;
  }
  .gt-md-95 {
    flex: 1 1 95%;
  }
  .gt-md-100 {
    flex: 1 1 100%;
  }
  .gt-md-order--20 {
    order: -20;
  }
  .gt-md-order--19 {
    order: -19;
  }
  .gt-md-order--18 {
    order: -18;
  }
  .gt-md-order--17 {
    order: -17;
  }
  .gt-md-order--16 {
    order: -16;
  }
  .gt-md-order--15 {
    order: -15;
  }
  .gt-md-order--14 {
    order: -14;
  }
  .gt-md-order--13 {
    order: -13;
  }
  .gt-md-order--12 {
    order: -12;
  }
  .gt-md-order--11 {
    order: -11;
  }
  .gt-md-order--10 {
    order: -10;
  }
  .gt-md-order--9 {
    order: -9;
  }
  .gt-md-order--8 {
    order: -8;
  }
  .gt-md-order--7 {
    order: -7;
  }
  .gt-md-order--6 {
    order: -6;
  }
  .gt-md-order--5 {
    order: -5;
  }
  .gt-md-order--4 {
    order: -4;
  }
  .gt-md-order--3 {
    order: -3;
  }
  .gt-md-order--2 {
    order: -2;
  }
  .gt-md-order--1 {
    order: -1;
  }
  .gt-md-order-0 {
    order: 0;
  }
  .gt-md-order-1 {
    order: 1;
  }
  .gt-md-order-2 {
    order: 2;
  }
  .gt-md-order-3 {
    order: 3;
  }
  .gt-md-order-4 {
    order: 4;
  }
  .gt-md-order-5 {
    order: 5;
  }
  .gt-md-order-6 {
    order: 6;
  }
  .gt-md-order-7 {
    order: 7;
  }
  .gt-md-order-8 {
    order: 8;
  }
  .gt-md-order-9 {
    order: 9;
  }
  .gt-md-order-10 {
    order: 10;
  }
  .gt-md-order-11 {
    order: 11;
  }
  .gt-md-order-12 {
    order: 12;
  }
  .gt-md-order-13 {
    order: 13;
  }
  .gt-md-order-14 {
    order: 14;
  }
  .gt-md-order-15 {
    order: 15;
  }
  .gt-md-order-16 {
    order: 16;
  }
  .gt-md-order-17 {
    order: 17;
  }
  .gt-md-order-18 {
    order: 18;
  }
  .gt-md-order-19 {
    order: 19;
  }
  .gt-md-order-20 {
    order: 20;
  }
}
@media (min-width: 1280px) and (max-width: 1919px) {
  .start-lg {
    justify-content: flex-start;
  }
  .start-start-lg {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .start-end-lg {
    justify-content: flex-start;
    align-items: flex-end;
  }
  .start-center-lg {
    justify-content: flex-start;
    align-items: center;
  }
  .start-baseline-lg {
    justify-content: flex-start;
    align-items: baseline;
  }
  .start-stretch-lg {
    justify-content: flex-start;
    align-items: stretch;
  }
  .end-lg {
    justify-content: flex-end;
  }
  .end-start-lg {
    justify-content: flex-end;
    align-items: flex-start;
  }
  .end-end-lg {
    justify-content: flex-end;
    align-items: flex-end;
  }
  .end-center-lg {
    justify-content: flex-end;
    align-items: center;
  }
  .end-baseline-lg {
    justify-content: flex-end;
    align-items: baseline;
  }
  .end-stretch-lg {
    justify-content: flex-end;
    align-items: stretch;
  }
  .center-lg {
    justify-content: center;
  }
  .center-start-lg {
    justify-content: center;
    align-items: flex-start;
  }
  .center-end-lg {
    justify-content: center;
    align-items: flex-end;
  }
  .center-center-lg {
    justify-content: center;
    align-items: center;
  }
  .center-baseline-lg {
    justify-content: center;
    align-items: baseline;
  }
  .center-stretch-lg {
    justify-content: center;
    align-items: stretch;
  }
  .space-between-lg {
    justify-content: space-between;
  }
  .space-between-start-lg {
    justify-content: space-between;
    align-items: flex-start;
  }
  .space-between-end-lg {
    justify-content: space-between;
    align-items: flex-end;
  }
  .space-between-center-lg {
    justify-content: space-between;
    align-items: center;
  }
  .space-between-baseline-lg {
    justify-content: space-between;
    align-items: baseline;
  }
  .space-between-stretch-lg {
    justify-content: space-between;
    align-items: stretch;
  }
  .space-around-lg {
    justify-content: space-around;
  }
  .space-around-start-lg {
    justify-content: space-around;
    align-items: flex-start;
  }
  .space-around-end-lg {
    justify-content: space-around;
    align-items: flex-end;
  }
  .space-around-center-lg {
    justify-content: space-around;
    align-items: center;
  }
  .space-around-baseline-lg {
    justify-content: space-around;
    align-items: baseline;
  }
  .space-around-stretch-lg {
    justify-content: space-around;
    align-items: stretch;
  }
  .row-lg {
    display: flex;
    flex-direction: row;
  }
  .column-lg {
    display: flex;
    flex-direction: column;
  }
  .wrap-lg {
    flex-wrap: wrap;
  }
  .nowrap-lg {
    flex-wrap: nowrap;
  }
  .hide-lg {
    display: none;
  }
  .lg {
    flex: 1 1 auto;
  }
  .lg-5 {
    flex: 1 1 5%;
  }
  .lg-10 {
    flex: 1 1 10%;
  }
  .lg-15 {
    flex: 1 1 15%;
  }
  .lg-20 {
    flex: 1 1 20%;
  }
  .lg-25 {
    flex: 1 1 25%;
  }
  .lg-30 {
    flex: 1 1 30%;
  }
  .lg-35 {
    flex: 1 1 35%;
  }
  .lg-40 {
    flex: 1 1 40%;
  }
  .lg-45 {
    flex: 1 1 45%;
  }
  .lg-50 {
    flex: 1 1 50%;
  }
  .lg-55 {
    flex: 1 1 55%;
  }
  .lg-60 {
    flex: 1 1 60%;
  }
  .lg-65 {
    flex: 1 1 65%;
  }
  .lg-70 {
    flex: 1 1 70%;
  }
  .lg-75 {
    flex: 1 1 75%;
  }
  .lg-80 {
    flex: 1 1 80%;
  }
  .lg-85 {
    flex: 1 1 85%;
  }
  .lg-90 {
    flex: 1 1 90%;
  }
  .lg-95 {
    flex: 1 1 95%;
  }
  .lg-100 {
    flex: 1 1 100%;
  }
  .lg-order--20 {
    order: -20;
  }
  .lg-order--19 {
    order: -19;
  }
  .lg-order--18 {
    order: -18;
  }
  .lg-order--17 {
    order: -17;
  }
  .lg-order--16 {
    order: -16;
  }
  .lg-order--15 {
    order: -15;
  }
  .lg-order--14 {
    order: -14;
  }
  .lg-order--13 {
    order: -13;
  }
  .lg-order--12 {
    order: -12;
  }
  .lg-order--11 {
    order: -11;
  }
  .lg-order--10 {
    order: -10;
  }
  .lg-order--9 {
    order: -9;
  }
  .lg-order--8 {
    order: -8;
  }
  .lg-order--7 {
    order: -7;
  }
  .lg-order--6 {
    order: -6;
  }
  .lg-order--5 {
    order: -5;
  }
  .lg-order--4 {
    order: -4;
  }
  .lg-order--3 {
    order: -3;
  }
  .lg-order--2 {
    order: -2;
  }
  .lg-order--1 {
    order: -1;
  }
  .lg-order-0 {
    order: 0;
  }
  .lg-order-1 {
    order: 1;
  }
  .lg-order-2 {
    order: 2;
  }
  .lg-order-3 {
    order: 3;
  }
  .lg-order-4 {
    order: 4;
  }
  .lg-order-5 {
    order: 5;
  }
  .lg-order-6 {
    order: 6;
  }
  .lg-order-7 {
    order: 7;
  }
  .lg-order-8 {
    order: 8;
  }
  .lg-order-9 {
    order: 9;
  }
  .lg-order-10 {
    order: 10;
  }
  .lg-order-11 {
    order: 11;
  }
  .lg-order-12 {
    order: 12;
  }
  .lg-order-13 {
    order: 13;
  }
  .lg-order-14 {
    order: 14;
  }
  .lg-order-15 {
    order: 15;
  }
  .lg-order-16 {
    order: 16;
  }
  .lg-order-17 {
    order: 17;
  }
  .lg-order-18 {
    order: 18;
  }
  .lg-order-19 {
    order: 19;
  }
  .lg-order-20 {
    order: 20;
  }
}
@media (min-width: 1920px) {
  .start-gt-lg {
    justify-content: flex-start;
  }
  .start-start-gt-lg {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .start-end-gt-lg {
    justify-content: flex-start;
    align-items: flex-end;
  }
  .start-center-gt-lg {
    justify-content: flex-start;
    align-items: center;
  }
  .start-baseline-gt-lg {
    justify-content: flex-start;
    align-items: baseline;
  }
  .start-stretch-gt-lg {
    justify-content: flex-start;
    align-items: stretch;
  }
  .end-gt-lg {
    justify-content: flex-end;
  }
  .end-start-gt-lg {
    justify-content: flex-end;
    align-items: flex-start;
  }
  .end-end-gt-lg {
    justify-content: flex-end;
    align-items: flex-end;
  }
  .end-center-gt-lg {
    justify-content: flex-end;
    align-items: center;
  }
  .end-baseline-gt-lg {
    justify-content: flex-end;
    align-items: baseline;
  }
  .end-stretch-gt-lg {
    justify-content: flex-end;
    align-items: stretch;
  }
  .center-gt-lg {
    justify-content: center;
  }
  .center-start-gt-lg {
    justify-content: center;
    align-items: flex-start;
  }
  .center-end-gt-lg {
    justify-content: center;
    align-items: flex-end;
  }
  .center-center-gt-lg {
    justify-content: center;
    align-items: center;
  }
  .center-baseline-gt-lg {
    justify-content: center;
    align-items: baseline;
  }
  .center-stretch-gt-lg {
    justify-content: center;
    align-items: stretch;
  }
  .space-between-gt-lg {
    justify-content: space-between;
  }
  .space-between-start-gt-lg {
    justify-content: space-between;
    align-items: flex-start;
  }
  .space-between-end-gt-lg {
    justify-content: space-between;
    align-items: flex-end;
  }
  .space-between-center-gt-lg {
    justify-content: space-between;
    align-items: center;
  }
  .space-between-baseline-gt-lg {
    justify-content: space-between;
    align-items: baseline;
  }
  .space-between-stretch-gt-lg {
    justify-content: space-between;
    align-items: stretch;
  }
  .space-around-gt-lg {
    justify-content: space-around;
  }
  .space-around-start-gt-lg {
    justify-content: space-around;
    align-items: flex-start;
  }
  .space-around-end-gt-lg {
    justify-content: space-around;
    align-items: flex-end;
  }
  .space-around-center-gt-lg {
    justify-content: space-around;
    align-items: center;
  }
  .space-around-baseline-gt-lg {
    justify-content: space-around;
    align-items: baseline;
  }
  .space-around-stretch-gt-lg {
    justify-content: space-around;
    align-items: stretch;
  }
  .row-gt-lg {
    display: flex;
    flex-direction: row;
  }
  .column-gt-lg {
    display: flex;
    flex-direction: column;
  }
  .wrap-gt-lg {
    flex-wrap: wrap;
  }
  .nowrap-gt-lg {
    flex-wrap: nowrap;
  }
  .hide-gt-lg {
    display: none;
  }
  .gt-lg {
    flex: 1 1 auto;
  }
  .gt-lg-5 {
    flex: 1 1 5%;
  }
  .gt-lg-10 {
    flex: 1 1 10%;
  }
  .gt-lg-15 {
    flex: 1 1 15%;
  }
  .gt-lg-20 {
    flex: 1 1 20%;
  }
  .gt-lg-25 {
    flex: 1 1 25%;
  }
  .gt-lg-30 {
    flex: 1 1 30%;
  }
  .gt-lg-35 {
    flex: 1 1 35%;
  }
  .gt-lg-40 {
    flex: 1 1 40%;
  }
  .gt-lg-45 {
    flex: 1 1 45%;
  }
  .gt-lg-50 {
    flex: 1 1 50%;
  }
  .gt-lg-55 {
    flex: 1 1 55%;
  }
  .gt-lg-60 {
    flex: 1 1 60%;
  }
  .gt-lg-65 {
    flex: 1 1 65%;
  }
  .gt-lg-70 {
    flex: 1 1 70%;
  }
  .gt-lg-75 {
    flex: 1 1 75%;
  }
  .gt-lg-80 {
    flex: 1 1 80%;
  }
  .gt-lg-85 {
    flex: 1 1 85%;
  }
  .gt-lg-90 {
    flex: 1 1 90%;
  }
  .gt-lg-95 {
    flex: 1 1 95%;
  }
  .gt-lg-100 {
    flex: 1 1 100%;
  }
  .gt-lg-order--20 {
    order: -20;
  }
  .gt-lg-order--19 {
    order: -19;
  }
  .gt-lg-order--18 {
    order: -18;
  }
  .gt-lg-order--17 {
    order: -17;
  }
  .gt-lg-order--16 {
    order: -16;
  }
  .gt-lg-order--15 {
    order: -15;
  }
  .gt-lg-order--14 {
    order: -14;
  }
  .gt-lg-order--13 {
    order: -13;
  }
  .gt-lg-order--12 {
    order: -12;
  }
  .gt-lg-order--11 {
    order: -11;
  }
  .gt-lg-order--10 {
    order: -10;
  }
  .gt-lg-order--9 {
    order: -9;
  }
  .gt-lg-order--8 {
    order: -8;
  }
  .gt-lg-order--7 {
    order: -7;
  }
  .gt-lg-order--6 {
    order: -6;
  }
  .gt-lg-order--5 {
    order: -5;
  }
  .gt-lg-order--4 {
    order: -4;
  }
  .gt-lg-order--3 {
    order: -3;
  }
  .gt-lg-order--2 {
    order: -2;
  }
  .gt-lg-order--1 {
    order: -1;
  }
  .gt-lg-order-0 {
    order: 0;
  }
  .gt-lg-order-1 {
    order: 1;
  }
  .gt-lg-order-2 {
    order: 2;
  }
  .gt-lg-order-3 {
    order: 3;
  }
  .gt-lg-order-4 {
    order: 4;
  }
  .gt-lg-order-5 {
    order: 5;
  }
  .gt-lg-order-6 {
    order: 6;
  }
  .gt-lg-order-7 {
    order: 7;
  }
  .gt-lg-order-8 {
    order: 8;
  }
  .gt-lg-order-9 {
    order: 9;
  }
  .gt-lg-order-10 {
    order: 10;
  }
  .gt-lg-order-11 {
    order: 11;
  }
  .gt-lg-order-12 {
    order: 12;
  }
  .gt-lg-order-13 {
    order: 13;
  }
  .gt-lg-order-14 {
    order: 14;
  }
  .gt-lg-order-15 {
    order: 15;
  }
  .gt-lg-order-16 {
    order: 16;
  }
  .gt-lg-order-17 {
    order: 17;
  }
  .gt-lg-order-18 {
    order: 18;
  }
  .gt-lg-order-19 {
    order: 19;
  }
  .gt-lg-order-20 {
    order: 20;
  }
  .start-xl {
    justify-content: flex-start;
  }
  .start-start-xl {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .start-end-xl {
    justify-content: flex-start;
    align-items: flex-end;
  }
  .start-center-xl {
    justify-content: flex-start;
    align-items: center;
  }
  .start-baseline-xl {
    justify-content: flex-start;
    align-items: baseline;
  }
  .start-stretch-xl {
    justify-content: flex-start;
    align-items: stretch;
  }
  .end-xl {
    justify-content: flex-end;
  }
  .end-start-xl {
    justify-content: flex-end;
    align-items: flex-start;
  }
  .end-end-xl {
    justify-content: flex-end;
    align-items: flex-end;
  }
  .end-center-xl {
    justify-content: flex-end;
    align-items: center;
  }
  .end-baseline-xl {
    justify-content: flex-end;
    align-items: baseline;
  }
  .end-stretch-xl {
    justify-content: flex-end;
    align-items: stretch;
  }
  .center-xl {
    justify-content: center;
  }
  .center-start-xl {
    justify-content: center;
    align-items: flex-start;
  }
  .center-end-xl {
    justify-content: center;
    align-items: flex-end;
  }
  .center-center-xl {
    justify-content: center;
    align-items: center;
  }
  .center-baseline-xl {
    justify-content: center;
    align-items: baseline;
  }
  .center-stretch-xl {
    justify-content: center;
    align-items: stretch;
  }
  .space-between-xl {
    justify-content: space-between;
  }
  .space-between-start-xl {
    justify-content: space-between;
    align-items: flex-start;
  }
  .space-between-end-xl {
    justify-content: space-between;
    align-items: flex-end;
  }
  .space-between-center-xl {
    justify-content: space-between;
    align-items: center;
  }
  .space-between-baseline-xl {
    justify-content: space-between;
    align-items: baseline;
  }
  .space-between-stretch-xl {
    justify-content: space-between;
    align-items: stretch;
  }
  .space-around-xl {
    justify-content: space-around;
  }
  .space-around-start-xl {
    justify-content: space-around;
    align-items: flex-start;
  }
  .space-around-end-xl {
    justify-content: space-around;
    align-items: flex-end;
  }
  .space-around-center-xl {
    justify-content: space-around;
    align-items: center;
  }
  .space-around-baseline-xl {
    justify-content: space-around;
    align-items: baseline;
  }
  .space-around-stretch-xl {
    justify-content: space-around;
    align-items: stretch;
  }
  .row-xl {
    display: flex;
    flex-direction: row;
  }
  .column-xl {
    display: flex;
    flex-direction: column;
  }
  .wrap-xl {
    flex-wrap: wrap;
  }
  .nowrap-xl {
    flex-wrap: nowrap;
  }
  .hide-xl {
    display: none;
  }
  .xl {
    flex: 1 1 auto;
  }
  .xl-5 {
    flex: 1 1 5%;
  }
  .xl-10 {
    flex: 1 1 10%;
  }
  .xl-15 {
    flex: 1 1 15%;
  }
  .xl-20 {
    flex: 1 1 20%;
  }
  .xl-25 {
    flex: 1 1 25%;
  }
  .xl-30 {
    flex: 1 1 30%;
  }
  .xl-35 {
    flex: 1 1 35%;
  }
  .xl-40 {
    flex: 1 1 40%;
  }
  .xl-45 {
    flex: 1 1 45%;
  }
  .xl-50 {
    flex: 1 1 50%;
  }
  .xl-55 {
    flex: 1 1 55%;
  }
  .xl-60 {
    flex: 1 1 60%;
  }
  .xl-65 {
    flex: 1 1 65%;
  }
  .xl-70 {
    flex: 1 1 70%;
  }
  .xl-75 {
    flex: 1 1 75%;
  }
  .xl-80 {
    flex: 1 1 80%;
  }
  .xl-85 {
    flex: 1 1 85%;
  }
  .xl-90 {
    flex: 1 1 90%;
  }
  .xl-95 {
    flex: 1 1 95%;
  }
  .xl-100 {
    flex: 1 1 100%;
  }
  .xl-order--20 {
    order: -20;
  }
  .xl-order--19 {
    order: -19;
  }
  .xl-order--18 {
    order: -18;
  }
  .xl-order--17 {
    order: -17;
  }
  .xl-order--16 {
    order: -16;
  }
  .xl-order--15 {
    order: -15;
  }
  .xl-order--14 {
    order: -14;
  }
  .xl-order--13 {
    order: -13;
  }
  .xl-order--12 {
    order: -12;
  }
  .xl-order--11 {
    order: -11;
  }
  .xl-order--10 {
    order: -10;
  }
  .xl-order--9 {
    order: -9;
  }
  .xl-order--8 {
    order: -8;
  }
  .xl-order--7 {
    order: -7;
  }
  .xl-order--6 {
    order: -6;
  }
  .xl-order--5 {
    order: -5;
  }
  .xl-order--4 {
    order: -4;
  }
  .xl-order--3 {
    order: -3;
  }
  .xl-order--2 {
    order: -2;
  }
  .xl-order--1 {
    order: -1;
  }
  .xl-order-0 {
    order: 0;
  }
  .xl-order-1 {
    order: 1;
  }
  .xl-order-2 {
    order: 2;
  }
  .xl-order-3 {
    order: 3;
  }
  .xl-order-4 {
    order: 4;
  }
  .xl-order-5 {
    order: 5;
  }
  .xl-order-6 {
    order: 6;
  }
  .xl-order-7 {
    order: 7;
  }
  .xl-order-8 {
    order: 8;
  }
  .xl-order-9 {
    order: 9;
  }
  .xl-order-10 {
    order: 10;
  }
  .xl-order-11 {
    order: 11;
  }
  .xl-order-12 {
    order: 12;
  }
  .xl-order-13 {
    order: 13;
  }
  .xl-order-14 {
    order: 14;
  }
  .xl-order-15 {
    order: 15;
  }
  .xl-order-16 {
    order: 16;
  }
  .xl-order-17 {
    order: 17;
  }
  .xl-order-18 {
    order: 18;
  }
  .xl-order-19 {
    order: 19;
  }
  .xl-order-20 {
    order: 20;
  }
}
